@tailwind base;
@tailwind components;
@tailwind utilities;

/* Adding a custom scrollbar to match the dark theme */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #09090b; /* slate-900 */
}
::-webkit-scrollbar-thumb {
  background: #27272a; /* slate-700 */
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3f3f46; /* slate-600 */
}

